<server description="Intro REST Guide Liberty server">

  <featureManager>
      <platform>jakartaee-10.0</platform>
      <feature>jaxrs</feature>
      <feature>jsonp</feature>
      <feature>cdi</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="draft-guides-template.war" contextRoot="todo-app"/>
</server>
